<!DOCTYPE html>
<html>
	<head>
		<title> Home Page </title>
		<link rel = "stylesheet" href = "home.css">
	</head>
	
	<body>	
		<audio src="../public/audio/Genshin Impact Main Theme.mp3" autoplay loop>
			<embed height="20" type="audio/midi" width="144" src="../public/audio/Genshin Impact Main Theme.mp3" volume="60" loop="true" autostart="true" />
		</audio>
		
		<div class = "banner">
			<div class = "menu">
			<ul>
				<li><a href = "profile.html">profile</a></li>
				<li><a href = "#">planner</a></li>
				<li><a href = "login.html">log out</a></li>
			</ul>
			</div>
		
			<div class = "title-box">
				<div class = "title">
						<h1>Genshin Impact Planner</h1>
						<p>Traveller, unleash the full potential of your characters by locking in on your desired builds. 
						<br>Save your time, resin, and mora by planning your days ahead.</p>
				</div>
			</div>
		</div>
	</body>
</html>