<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel = "stylesheet" href = "/css/profile.css">
</head>

<body>
	<audio src="A Day in Mondstadt.mp3" autoplay loop>
			<embed height="20" type="audio/midi" width="144" src="A Day in Mondstadt.mp3" volume="60" loop="true" autostart="true" />
	</audio>
	
	<div class = "sidebar">
		<img src = "images/characters/paimon.jpg" class = "profile_pic">
		<div class = "menu">
			<h3>name</h3> <!--INSERT NAME OF USER-->
			<ul>
				<li><a href = "home.html">home</a></li>
				<li><a href = "#">planner</a></li>
				<li><a href = "login.html">log out</a></li>
			</ul>
		</div>
	</div>
	
	<div class = "main">
		<img src = "images/characters/razor.png" class = "character_pic">
		
		<div class = "stats1">
		Name: <strong><div class = "name">Razor</div></strong><br>
		Vision: <strong><div class = "vision">Electro</div></strong><br>
		</div>
		
		<div class = "stats_weapon">
		Weapon: <strong><div class = "weapon_name">Snowtomb Starsilver</div></strong><br>
		<img src = "images/weapons/snowtomb.png" class = "weapon">
		</div>
		 <br>
		 
		<div class ="artifacts">
			Artifacts: <strong><div class = "artifact_name">Gladiator's Finale</div></strong><br>

			<img src = "images/artifacts/gladiators/gf_flower.png" class="artifact_pic">
			<img src = "images/artifacts/gladiators/gf_feather.png" class="artifact_pic">
			<img src = "images/artifacts/gladiators/gf_circlet.png"	class="artifact_pic">
			<img src = "images/artifacts/gladiators/gf_goblet.png" class="artifact_pic">
			<img src = "images/artifacts/gladiators/gf_sands.png" class = "artifact_pic">

		</div>
	</div>
	
</body>
</html>