<!DOCTYPE html>
<html>
<head>
	<title>Farming Schedule</title>
	<link rel = "stylesheet" href = "/css/schedule.css">
</head>

<body>
	<audio src="/audio/Call It a Day in Liyue.mp3" autoplay loop>
			<embed height="20" type="audio/midi" width="144" src="/audio/Call It a Day in Liyue.mp3" volume="60" loop="true" autostart="true" />
	</audio>

<!--Menu-->
    <div class = "banner">
        <div class = "menu">
        <ul>
            <li><a href = "/home">Home </a></li>
            <li><a href = "/profile">Profile </a></li>
            <!--Logut to be eidted-->
            <li><a href = "/logout">Log Out</a></li>
        </ul>
        </div>
    </div>

<!--TABLE-->        
    <h1>FARMING SCHEDULE</h1>
    
    <div>
    <table class="center">
        <tr>
            <td class="day">Monday / Thursday</td>      
            <td class="borderBot">
                <div id="wrapper">
                        <img src = "/images/books/Item_Guide_to_Freedom.png" class="hover" />
                        <p class="text">Teachings, Guide, Philosophy of Freedom <br>
                            Forsaken Rift, the Domain of Mastery in Mondstadt.</p>
                </div>
            </td>

            <td class="borderBot">
                <div id="wrapper">
                        <img src = "/images/books/Item_Guide_to_Prosperity.png" class="hover" />
                        <p class="text">Teachings, Guide, Philosophy of Prosperity<br>
                            Taishan Mansion, the Domain of Mastery in Liyue.
                            </p>
                </div>
            </td>

            <td class="borderBot">
                <div id="wrapper">
                        <img src = "/images/weapasc/Item_Tile_of_Decarabian's_Tower.png" class="hover" />
                        <p class="text">Tile of Decarabian's Tower, Debris of Decarabian's City, 
                            Fragment of Decarabian's Epic, Scattered Piece of Decarabian's Dream<br>
                            Cecilia Garden, the Domain of Forgery in Mondstadt.
                            </p>
                </div>
            </td>
            <td class="borderBot">
                <div id="wrapper">
                        <img src = "/images/weapasc/Item_Luminous_Sands_from_Guyun.png" class="hover" />
                        <p class="text">Luminous Sands from Guyun, Lustrous Stone from Guyun, 
                            Relic from Guyun, Divine Body from Guyun<br>
                            Hidden Palace of Lianshan Formula, the Domain of Forgery in Liyue
                            </p>
                </div>
            </td>

        </tr>

        <tr>
            <td class="day">Tuesday / Friday</td>
			<td class="borderBot">
                <div id="wrapper">
                        <img src = "/images/books/Item_Guide_to_Resistance.png" class="hover" />
                        <p class="text">Teachings, Guide, Philosophy of Resistance <br>
                            Forsaken Rift, the Domain of Mastery in Mondstadt.</p>
                </div>
            </td>

            <td class="borderBot">
                <div id="wrapper">
                        <img src = "/images/books/Item_Guide_to_Diligence.png" class="hover" />
                        <p class="text">Teachings, Guide, Philosophy of Diligence<br>
                            Taishan Mansion, the Domain of Mastery in Liyue.
                            </p>
                </div>
            </td>

            <td class="borderBot">
                <div id="wrapper">
                        <img src = "/images/weapasc/Item_Boreal_Wolf's_Milk_Tooth.png" class="hover" />
                        <p class="text">Boreal Wolf's Milk Tooth, Boreal Wolf's Cracked Tooth, 
                            Boreal Wolf's Broken Fang, Boreal Wolf's Nostalgia<br>
                            Cecilia Garden, the Domain of Forgery in Mondstadt.
                            </p>
                </div>
            </td>

            <td class="borderBot">
                <div id="wrapper">
                        <img src = "/images/weapasc/Item_Mist_Veiled_Lead_Elixir.png" class="hover" />
                        <p class="text">Mist Veiled Lead Elixir, Mist Veiled Mercury Elixir, 
                            Mist Veiled Gold Elixir, Mist Veiled Primo Elixir<br>                            
                            Hidden Palace of Lianshan Formula, the Domain of Forgery in Liyue
                        </p>
                </div>
            </td>
        </tr>

        <tr>
            <td class="day">Wednesday / Saturday</td>
            <td class="borderBot">
			    <div id="wrapper">
                        <img src = "/images/books/Item_Guide_to_Ballad.png" class="hover" />
                        <p class="text">Teachings, Guide, Philosophy of Ballad <br>
                            Forsaken Rift, the Domain of Mastery in Mondstadt.</p>
                </div>
            </td>
			
            <td class="borderBot">
			    <div id="wrapper">
                        <img src = "/images/books/Item_Guide_to_Gold.png" class="hover" />
                        <p class="text">Teachings, Guide, Philosophy of Gold<br>
                            Taishan Mansion, the Domain of Mastery in Liyue.
                            </p>
                </div>
            </td>
            <td class="borderBot">
			    <div id="wrapper">
                        <img src = "/images/weapasc/Item_Fetters_of_the_Dandelion_Gladiator.png" class="hover" />
                        <p class="text">Fetters of the Dandelion Gladiator, 
                            Chains of the Dandelion Gladiator, Shackles of the Dandelion Gladiator, 
                            Dream of the Dandelion Gladiator <br>
                            Cecilia Garden, the Domain of Forgery in Mondstadt.</p>
                </div>

            </td>
            <td class="borderBot">
			    <div id="wrapper">
                        <img src = "/images/weapasc/Item_Grain_of_Aerosiderite.png" class="hover" />
                        <p class="text">Grain of Aerosiderite, Piece of Aerosiderite, 
                            Bit of Aerosiderite, Chunk of Aerosiderite <br>
                            Hidden Palace of Lianshan Formula, the Domain of Forgery in Liyue.</p>
                </div>
            </td>

        </tr>

        <tr>
            <td class="day1">Sunday</td>

            <td>
                <div id="wrapper">
                        <img src = "/images/books/Item_Philosophies_of_Freedom.png" class="hover" />
                        <p class="text">Teachings, Guide, Philosophy of Freedom <br>
                            Forsaken Rift, the Domain of Mastery in Mondstadt.</p>
                </div>
            </td>
			
            <td>
                <div id="wrapper">
                        <img src = "/images/books/Item_Philosophies_of_Resistance.png"  class="hover" />
                        <p class="text">Teachings, Guide, Philosophy of Resistance <br>
                            Forsaken Rift, the Domain of Mastery in Mondstadt.</p>
                </div>
            </td>

            <td>
                <div id="wrapper">
                        <img src = "/images/books/Item_Philosophies_of_Ballad.png" class="hover" />
                        <p class="text">Teachings, Guide, Philosophy of Ballad <br>
                            Forsaken Rift, the Domain of Mastery in Mondstadt.</p>
                </div>
            </td>
        </tr>

        <tr>
            <td class="day2"></td>
            <td>
                <div id="wrapper">
                        <img src = "/images/books/Item_Philosophies_of_Prosperity.png"class="hover" />
                        <p class="text">Teachings, Guide, Philosophy of Prosperity<br>
                            Taishan Mansion, the Domain of Mastery in Liyue.
                            </p>
                </div>
            </td>
			
            <td>
                <div id="wrapper">
                        <img src =  "/images/books/Item_Philosophies_of_Diligence.png"  class="hover" />
                        <p class="text">Teachings, Guide, Philosophy of Diligence<br>
                            Taishan Mansion, the Domain of Mastery in Liyue.
                            </p>
                </div>
            </td>

            <td>
                <div id="wrapper">
                        <img src = "/images/books/Item_Philosophies_of_Gold.png" class="hover" />
                        <p class="text">Teachings, Guide, Philosophy of Gold<br>
                            Taishan Mansion, the Domain of Mastery in Liyue.
                            </p>
                </div>
            </td>
        </tr>

        <tr>
            <td class="day2"></td>
            <td>
                <div id="wrapper">
                        <img src = "/images/weapasc/Item_Scattered_Piece_of_Decarabian's_Dream.png"  class="hover" />
                        <p class="text">Tile of Decarabian's Tower, Debris of Decarabian's City, 
                            Fragment of Decarabian's Epic, Scattered Piece of Decarabian's Dream<br>
                            Cecilia Garden, the Domain of Forgery in Mondstadt.
                            </p>
                </div>
            </td>

            <td>
                <div id="wrapper">
                        <img src = "/images/weapasc/Item_Boreal_Wolf's_Nostalgia.png" class="hover" />
                        <p class="text">Boreal Wolf's Milk Tooth, Boreal Wolf's Cracked Tooth, 
                            Boreal Wolf's Broken Fang, Boreal Wolf's Nostalgia<br>
                            Cecilia Garden, the Domain of Forgery in Mondstadt.
                            </p>
                </div>
            </td>

            <td>
                <div id="wrapper">
                        <img src = "/images/weapasc/Item_Dream_of_the_Dandelion_Gladiator.png" class="hover" />
                        <p class="text">Fetters of the Dandelion Gladiator, 
                            Chains of the Dandelion Gladiator, Shackles of the Dandelion Gladiator, 
                            Dream of the Dandelion Gladiator <br>
                            Cecilia Garden, the Domain of Forgery in Mondstadt.</p>
                </div>
            </td>
        </tr>

        <tr>
            <td class="day2"></td>

            <td>
                <div id="wrapper">
                        <img src = "/images/weapasc/Item_Divine_Body_from_Guyun.png" class="hover" />
                        <p class="text">Luminous Sands from Guyun, Lustrous Stone from Guyun, 
                            Relic from Guyun, Divine Body from Guyun<br>
                            Hidden Palace of Lianshan Formula, the Domain of Forgery in Liyue
                            </p>
                </div>
            </td>
            
            <td>
                <div id="wrapper">
                        <img src = "/images/weapasc/Item_Mist_Veiled_Primo_Elixir.png"class="hover" />
                        <p class="text">Mist Veiled Lead Elixir, Mist Veiled Mercury Elixir, 
                            Mist Veiled Gold Elixir, Mist Veiled Primo Elixir<br>                            
                            Hidden Palace of Lianshan Formula, the Domain of Forgery in Liyue
                        </p>
                </div>
            </td>
            
            <td>
                <div id="wrapper">
                        <img src =  "/images/weapasc/Item_Chunk_of_Aerosiderite.png" class="hover" />
                        <p class="text">Grain of Aerosiderite, Piece of Aerosiderite, 
                            Bit of Aerosiderite, Chunk of Aerosiderite <br>
                            Hidden Palace of Lianshan Formula, the Domain of Forgery in Liyue.</p>
                </div>
            </td>
        </tr>



    </table>
    </div>
	
</body>
</html>