html{
	margin: 0;
	padding: 0;
	font-family: century gothic;
	width: 100%;
	height: 100vh;
	background-image: url('../images/bg/Liyue.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.menu{
	width: 100%;
	margin: auto;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu ul li{
	display: inline-block;
	font-size: 20px;
	margin: 10px 20px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.menu ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

h1{
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color: #ffff99;
}

p {
	text-align: center;
	font-size: 12px;
	color:white;
}

td{
	width: 180px;
}
.day{
	text-align: center;
	color: #ffff99;
	font-weight: bold;
	font-size: x-large;
	border: 2px solid white;
}

.day1{
	text-align: center;
	color:#ffff99;
	font-weight: bold;
	font-size: x-large;
	border-top: 2px solid white;
	border-right: 2px solid white;
	border-left: 2px solid white;
}

.day2{
	border-right: 2px solid white;
	border-left: 2px solid white;
}

.borderBot{
	border-bottom: 3px dotted white;
}

table{
	border: 4px dotted white;
	height: auto;
}

.menu a{
	display: block;
	font-size: 20px;
	margin: 10px 20px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	position: relative;
	top: 70px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width:150px;
	max-height:150px;
	width: auto;
	height: auto;
}


#wrapper .text {
	position:relative;
	bottom:30px;
	left:0px;
	visibility:hidden;
}
	
#wrapper:hover .text {
	visibility:visible;
	}